@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap");
@font-face {
    font-family: satoshi;
    src: url(../fonts/Satoshi-Regular.woff);
}

/* :root {
    --theme-color: #007AFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-color: red;
    }
} */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--theme-color);
}

::-webkit-scrollbar-thumb {
    background-color: gray;
} */

::-webkit-scrollbar {
	background-color: #000000;
}
::-webkit-scrollbar-thumb {
    background-color: #13162D;
    border-radius: 1.25rem;
    
}
::-webkit-scrollbar-track {}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #010922;
}

h2 {
    font-family: Outfit, sans-serif;
    font-weight: 600;
    line-height: 1.875rem;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
}

.preloader {
    background-color: #010922;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    display: grid;
    place-items: center;
    transition: opacity 2s ease-in-out;
}

.preloaderImg {
    max-width: 100%;
}
  
.preloaderImg {
    animation-name: scaleInOut;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
  
@keyframes scaleInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

/* Mobile Menu Styling */

.hamburgerStroke {
    color: white;
    border-top: 0.0625rem solid;
    height: 0.5625rem;
    width: 22px;
}
  
.hamburgerStroke1 {
    margin-bottom: 0.375rem;
    transform-origin: center;
}
  
.hamburgerStroke2 {
    position: relative;
    top: -0.375rem;
    /* left: 0.063rem; */
    transform-origin: center;
}

.hamburgerWrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rotate1 {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}
  
.rotate2 {
    transform: rotate(-45deg);
    top: -1rem;
    left: 0.3125rem;
    transition: transform 0.3s ease-in-out;
}

.mobileMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2.25rem;
}

.hamburgerLink {
    text-decoration: none;
    font-size: 16px;
    font-family: Outfit, sans-serif;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    border-bottom: 0.2px solid #FFFFFF33;
    transition: background-color .2s ease-in-out
}

.hamburgerLinkWrap {
    display: flex;
    text-align: left;
}

.hamburgerWrap {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.hide-scroll {

    overflow: hidden;
}

.hamburgerMenuSection {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 2000;
    position: fixed;
    left: 0;
    right: 0;
    top: 64px;
    background-color: #010922;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.hamburgerMenuSection {
    height: 0px;
    transition: all .4s ease-in-out;
}

.hamburgerMenuSection.active {
    padding-bottom: 1.5rem;
    height: calc(100vh - 64px);
}

/* End */

/* Main padding styling */

.mainPadding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.desktopNavLinksWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktopNavLinks {
    font-size: 1.1rem;
    font-family: satoshi, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 2.5rem;
    opacity: 0.9;
    transition: all 0.3s ease;
}

.desktopNavLinks:hover {
    opacity: 1;
}

.mintNftBtnTxt {
    font-size: 1.1rem;
    font-family: satoshi, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.9;
}

.mintNftBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(135.85deg, rgba(22, 21, 67, 0.55) 0%, rgba(128, 128, 215, 0.15) 100%);
    text-decoration: none;
    padding: 1.125rem 1.75rem;
    border-radius: 3.75rem;
    transition: all 0.3s ease;
}

.mintNftBtn:hover {
    /* background: #15183F; */
    box-shadow: 0px 0px 40px 0px #23276099;
}

.desktopNavLinksContainer {
    display: none;
}

.circleStyle {
    margin-right: 0.5rem;
}

@media (min-width: 1024px) {
    .desktopNavLinksContainer {
        display: block;
    }

    .hamburgerWrap {
        display: none;
    }

    .hamburgerMenuSection {
        display: none;
    }

    .mobileMenu {
        padding-left: 7rem;
        padding-right: 7rem;
        padding-top: 1.5rem;
    }
}

@media (min-width: 1440px) {
    .mobileMenu {
        padding-left: 8.5rem;
        padding-right: 8.5rem;
        padding-top: 2rem;
    }
}

/* End */

/* Hero Section */

.heroUnique {
    color: #AAD9D9;
    font-family: Outfit, sans-serif;
    font-size: 2rem;
    line-height: 2.3625rem;
    font-weight: 700;
}

h1 {
    color: white;
    font-family: Outfit, sans-serif;
    font-size: 2rem;
    line-height: 2.3625rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

p {
    font-family: satoshi;
    font-size: 1rem;
    color: white;
    line-height: 1.35rem;
    font-weight: 400;
    opacity: 0.9;
}

.heroP {
    text-align: center;
    margin-bottom: 2rem;
}

.heroBtn {
    color: white;
    font-size: 1rem;
    font-family: Outfit,sans-serif;
    line-height: 1.26rem;
    font-weight: 500;
    background: linear-gradient(96.39deg, #4F48BB 0.06%, #27899D 100.06%);
    border-radius: 3.125rem;
    padding: 1.125rem 1.5625rem;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.heroBtn:hover {
    box-shadow: 0px 0px 40px 0px #4250AF80;
}

.heroImg {
    max-width: 100%;
    margin: 4rem 0px;
}

.heroImgWrap {
    overflow: hidden;
}

.heroTxtWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroWrap {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.heroTxtWrap {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* .betaP {
    z-index: 2;
} */

.betaWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(135.85deg, rgba(20, 24, 64, 0.7) 0%, rgba(128, 128, 215, 0.2) 100%);
    padding: 0.3125rem 0.625rem;
    margin-bottom: 2rem;
    border: 0.0625rem solid;
    border-image: linear-gradient(180deg, #7E73D8 0%, #3B61AB 36.46%, #6FCFC9 76.04%, #AAD9D9 100%)  14% stretch;
    border-image-slice: 1;
    /* border-radius: 3.125rem; */
}

/* .betaWrap::before {
    content: '';
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, #7E73D8 0%, #3B61AB 36.46%, #6FCFC9 76.04%, #AAD9D9 100%);
    animation: rotate 4s infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */

.tabArrowIcon {
    display: none;
}

/* :root {
    --gradient: linear-gradient(180deg, #7E73D8 0%, #3B61AB 36.46%, #6FCFC9 76.04%, #AAD9D9 100%);
}

.betaWrap::before {
    content: '';
    display: block;
    height: calc(100%-cal(var(--border-width) + 2));
    width: calc(100%-cal(var(--border-width) + 2));
    border-image-source: linear-gradient(180deg, #7E73D8 0%, #3B61AB 36.46%, #6FCFC9 76.04%, #AAD9D9 100%);
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
} */

.arrowIcon {
    margin-left: 0.3125rem;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.heroImg {
    animation: rotate 20s infinite linear;
}

@media only screen and (min-width: 768px) {
    .heroImg {
        margin: 5rem 0rem;
    }

    h1 {
        font-size: 2.375rem;
        line-height: 3.0119rem;
    }

    .tabArrowIcon {
        display: block;
        margin-left: 0.3125rem;
    }

    .arrowIcon {
        display: none;
    }

    .heroUnique {
        font-size: 2.375rem;
        line-height: 3.0119rem;
    }

    .betaWrap {
        padding: 0.625rem 0.9375rem;
        border: 0.1125rem solid;
        background: linear-gradient(135.85deg, rgba(20, 24, 64, 0.7) 0%, rgba(128, 128, 215, 0.2) 100%);
        border-image: linear-gradient(180deg, #7E73D8 0%, #3B61AB 36.46%, #6FCFC9 76.04%, #AAD9D9 100%)  14% stretch;
        border-image-slice: 1;
    }

    .betaP {
        font-size: 1.0625rem;
    }

    p {
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 2.8125rem;
    }

    .heroUnique {
        font-size: 2.8125rem;
    }

    .betaWrap {
        padding: 0.625rem 0.9375rem;
        border: 2px solid;
        background: linear-gradient(135.85deg, rgba(20, 24, 64, 0.7) 0%, rgba(128, 128, 215, 0.2) 100%);
        border-image: linear-gradient(180deg, #7E73D8 0%, #3B61AB 36.46%, #6FCFC9 76.04%, #AAD9D9 100%)  14% stretch;
        border-image-slice: 1;
    }

    .heroWrap{
        margin-top: 6rem;
    }

    .mainPadding {
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

@media (min-width: 1440px) {
    .mainPadding {
        padding-left: 8.5rem;
        padding-right: 8.5rem;
    }

    .heroWrap {
        margin-top: 7rem;
    }
}

/* End */

/* Card Section */

.cardTop {
    font-size: 0.9375rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.cardHeading {
    font-size: 1.875rem;
    font-weight: 600;
    font-family: Outfit, sans-serif;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.cardHeading1 {
    background: linear-gradient(180deg, #8080D7 31.73%, #CA93EA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardHeading2 {
    color: #E9BE76;
}

.cardHeading3 {
    background: linear-gradient(180deg, #AAD9D9 0%, #3CAADE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardHeading4 {
    background: linear-gradient(180deg, #A4DAA7 0%, #A5D9A8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardImg {
    max-width: 100%;
}

.cardTxtWrap {
    margin-bottom: 1rem;
}

.cardContainer {
    padding-left: 0.9375rem;
    padding-top: 1.875rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.875rem;
}

.cardWrap {
    background: linear-gradient(135.85deg, rgba(20, 24, 64, 0.7) 0%, rgba(128, 128, 215, 0.2) 100%);
    border-radius: 2.5rem;
    margin-bottom: 3rem;
}

.allCardsWrap {
    margin-top: 8rem;
}

.cardWrap4 {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .ipadCardWrap {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        margin-bottom: 3rem;
        gap: 1.5rem;
    }

    .cardWrap {
        min-width: 100%;
    }

    .cardHeading {
        font-size: 2.2rem;
    }

    #cardWrap {
        margin-bottom: 0rem;
        width: 45%;
    }
    
    .cardWrap2 {
        margin-right: 0rem;
    }

    .cardWrap4 {
        margin-right: 0rem;
    }

    .cardContainer {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (min-width: 1024px) {
    .ipadCardWrap {
        overflow-x: hidden;
        gap: 2rem;
        justify-content: center;

    }

    .cardWrap {
        min-width: 0%;
    }

    .cardContainer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* End */

/* User Feedback Styles */

.userFeedbackSpan {
    font-size: 1.75rem;
    font-family: Outfit, sans-serif;
    font-weight: 600;
    opacity: 0.4;
}

.userFeedbackHeading {
    font-size: 1.75rem;
    color: white;
}

.userFeedbackCon {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135.85deg, rgba(20, 24, 64, 0.7) 0%, rgba(128, 128, 215, 0.2) 100%);
    padding: 1.25rem 1rem;
    border-radius: 1.875rem;
}

.userHeading {
    font-family: Outfit, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    margin-bottom: 0.3125rem;
}

.userHeading1 {
    color: #34C759;
}

.userHeading2 {
    color: #8080D7;
}

.userHeading3 {
    color: #AAD9D9;
}

.userHeading4 {
    color: var(--theme-color);
}

.userHeading5 {
    color: #AAD9D9;
}

.userFeedbackWrap {
    margin-bottom: 2.5rem;
}

  .ipadCardWrap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .ipadCardWrap::-webkit-scrollbar {
    display: none;
  }

.feedbackWrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    overflow: hidden;
}
  
.userFeedbackConWrap {
    min-width: 100%;
    animation: scroll 10s linear infinite forwards;
}

.betaFeedbackWrap {
    margin-top: 8.5rem;
}

@keyframes scroll {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1500px, 0, 0); /* The image width */
    }
}

  @media (min-width: 595px) {
    .userFeedbackConWrap {
        min-width: 60%;
    }
}

@media (min-width: 768px) {
    .userFeedbackConWrap {
        min-width: 50%;
    }

    .userFeedbackCon {
        padding: 30px 16px;
    }
}

@media (min-width: 1024px) {
    .betaFeedbackWrap {
        margin-top: 11rem;
    }

    .userFeedbackConWrap {
        min-width: 25%;
    }
}
/* End */

/* Join Waitlist Styles */

.joinWaitlistHeading {
    color: white;
    font-family: Outfit, sans-serif;
    font-size: 1.6875rem;
    font-weight: 600;
    text-align: center;
    line-height: 2.0475rem;
    margin-bottom: 2rem;
}

.joinWaitlistBtn {
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    line-height: 1.26rem;
    font-weight: 500;
    background: linear-gradient(96.39deg, #4F48BB 0.06%, #27899D 100.06%);
    border-radius: 3.125rem;
    padding: 1.125rem 1.5625rem;
    border-style: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.joinWaitlistBtn:hover {
    box-shadow: 0px 0px 40px 0px #4250AF80;
}

.joinWaitlistWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8.5rem;
}

@media (min-width: 1024px) {
    .joinWaitlistWrap {
        margin-top: 11rem;
    }

    .joinWaitlistHeading {
        margin-bottom: 3rem;
        font-size: 2.5rem;
        line-height: 3.15rem;
    }
}
/* Footer Styling */

.socialWrap {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.copyrightTxt {
    font-size: 0.875rem;
    opacity: 0.6;
}

.logoCopyrightWrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.logoSocialsWrap {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.linkNameText {
    font-size: 1rem;
    font-weight: 400;
    font-family: Outfit, sans-serif;
    color: white;
    line-height: 1.4175rem;
    margin-bottom: 1.5rem;
}

.linkWrap {
    display: flex;
    flex-direction: column;
}

.footerLinks {
    text-decoration: none;
    font-family: satoshi;
    font-size: 1rem;
    opacity: 0.6;
    color: white;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    width: max-content;
}

.footerLinks:hover {
    opacity: 1;
}

.footerLinks:hover {
    opacity: 1;
}

.footerLinkBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.footerLinksWrap {
    margin-top: 4.5rem;
    margin-bottom: 3rem;
}

.footerContainer {
    margin-top: 10rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.footerLinkBlock > .linkWrap {
    height: 0rem;
    overflow: hidden;
    transition: all .5s ease-in-out;
    border-bottom: 0.2px solid #FFFFFF33;
}

.footerLinkBlock.toggled > .linkWrap {
    height: 120px;
    padding-bottom: 1rem;
}

@media only screen and (min-width: 769px) {
    .footerContainer {
        display: grid;
        grid-auto-flow: column;
        margin-bottom: 2rem;
    }

    .footerLinksWrap {
        margin-top: 0rem;
        display: grid;
        grid-auto-flow: column;
        column-gap: 2rem;
        margin-bottom: 0rem;
    }

    .footerLinkBlock > .linkWrap {
        height: max-content;
        overflow: auto;
        border: none;
    }
}

@media (min-width: 1024px) {
    .footerContainer {
        margin-top: 4rem;
        padding-left: 7rem;
        padding-right: 7rem;
        column-gap: 4rem;
    }

    .footerSection {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 11rem;
    }

    .footerLinksWrap {
        margin-bottom: 0rem;
    }
}

@media (min-width: 1440px) {
    .footerContainer {
        padding-left: 8.5rem;
        padding-right: 8.5rem;
    }
}

    
/**?